mat-table {
    width: 100%;
    overflow: auto;
  }
  
  .mobile-label {
    display: none;
  }

  .mat-column-action {
    flex: 0 0 4% !important;
  }
  
  @media(max-width: 600px) {
    .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
    }
    .mat-header-row {
      display: none;
    }
    .mat-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
    .mat-cell, .mat-header-cell, .mat-footer-cell {
      min-height: 25px;
    }
  }
  
  .bottom-right {
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  
  ::ng-deep .mat-paginator {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  ::ng-deep .mat-paginator-container{
    justify-content: flex-start !important;
  }
  
  ::ng-deep .mat-option-text {
    text-align: left;
  }