<button mat-fab color="accent" class="bottom-right" (click)="addUser()">
    <mat-icon >add</mat-icon>
</button>

<mat-table [dataSource]="users" class="mat-elevation-z8">


  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Username </mat-header-cell>
    <mat-cell *matCellDef="let user"> 
      <span class="mobile-label">Username: </span>
      <span>{{user.username}}</span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let user">
          <span class="mobile-label">Nombre: </span>
          <span>{{user.firstname}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="lastname">
            <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
            <mat-cell *matCellDef="let user"> 
              <span class="mobile-label">Apellido: </span>
              <span>{{user.lastname}}</span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
                <mat-cell *matCellDef="let user">
                  <span class="mobile-label">email: </span>
                  <span>{{user.email}}</span>
                </mat-cell>
              </ng-container>
     
   <ng-container matColumnDef="acciones">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let user">
        <button mat-icon-button aria-label="Editar" (click)="editUser(user.username)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button style="color: rgb(207, 75, 75);" (click)="deleteUserButton(user.username)">
            <mat-icon>delete</mat-icon>
        </button>
          
    </mat-cell>
  </ng-container> 

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>