.mat-sidenav {
  /* background-color: rgb(170, 181, 196); */
  position: fixed;
}

.main-menu {
  position: fixed;
  top: 3%;
  left: 3%;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.mat-list-item:hover {
  border-radius: 25px;
}

.navbar-logo {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  text-align: center;
  width: 250px;
  height: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}

a span {
  margin-left: 30px;
}

.is-active {
  color: rgb(121, 114, 211) !important;
  width: fit-content;
  padding: 8px;
  border-radius: 25px;
}

.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50em;
  cursor: pointer;
  position: fixed;
  top: 3%;
  right: 3%;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.user-info {
  text-align: center;
}

.user-info img {
  width: 100px;
  border-radius: 50%;
}

.user-info .mat-menu-item {
  text-align: center;
  line-height: 20px;
  height: 20px;
}

.container {
  height: 100vh;
  padding: 10% 20px 0px 20px;
}

/*
CENTER MAT-SPINNER AND PUT IN FRONT OF ALL DOM ELEMENTS
*/
.center {
  position: absolute;
  top: 30%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}
