<br />
<a [routerLink]="'/home/patient-list'">Regresar</a>

<h2 align="center">{{patient.firstname}} {{patient.lastname}}</h2>

<button mat-raised-button color="warn" (click)="deletePatientButton()">
    <mat-icon>delete</mat-icon>
    Eliminar expediente
</button>
<button mat-raised-button color="primary" class="bottom-right" (click)="newConsult()">
    <mat-icon>add</mat-icon>
    Nueva consulta
</button>
<div class="group-container">
    <div class="consult-container" *ngIf="patient.id">
        <app-consult-list [id]="patient.id"></app-consult-list>
    </div>
    <div class="editor-container">
            <app-consult-edit></app-consult-edit>
    </div>
</div>