<br/>
<a [routerLink]="'/home/patient-list'">< Regresar</a>
<mat-card>
<h2>Expediente: 00000{{patient.id}}</h2>
<h3>{{patient.firstname}} {{patient.lastname}}</h3>
</mat-card>
<button mat-raised-button color="accent" (click)="deletePatient()">
    <mat-icon>delete</mat-icon>
    Eliminar expediente
</button>

<div *ngIf="consults.length==0">
    No hay consultas registradas
</div>

<div *ngFor="let consult of consults">
<mat-card class="mat-elevation-z5">
    {{consult.reason}} - 
    {{consult.createdDate | date: 'dd/MM/yyyy HH:mm:ss'}}
    <button mat-icon-button style="color: rgb(207, 75, 75);" (click)="deleteConsult(consult.id)">
        <mat-icon>delete</mat-icon>
    </button>
    <mat-card-content>
        <p>{{consult.description}}</p>
    </mat-card-content>
</mat-card>
</div>

<button mat-raised-button color="primary" class="bottom-right" (click)="newConsult()">
    <mat-icon >add</mat-icon><span>Nueva consulta</span>
</button>
