.group-container{
    width: 100%;
    overflow: hidden;
}
.consult-container{
    width: 30%;
    float: left;
}

.editor-container{
    width: 70%;
    overflow: hidden;
}

button{
    margin: 5px;
}