<mat-card>
    <h2>Editar consulta</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <p>
            <input matInput formControlName="id" hidden>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Motivo</mat-label>
                <input matInput formControlName="reason">
                <mat-error *ngIf="editForm.controls['reason'].errors?.required">Obligatorio</mat-error>
            </mat-form-field>
        </p>
        <p>
            <angular-editor formControlName="description"></angular-editor>
            <mat-error *ngIf="editForm.controls['description'].errors?.required">Obligatorio</mat-error>
        </p>
        <button mat-button color="primary" [routerLink]="['/home/consult',consultId]">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Guardar</button>
    </form>
</mat-card>