<mat-card class="mat-elevation-z10">

    

    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate">
    </mat-progress-bar>
    <div ><img class="logo" src="../../../assets/img/logo.png"></div>
    <div mat-card-image>
        
    </div>

    <mat-card-content>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div  style="color:indianred;">{{messageInfo}}</div>

            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="loginForm.controls['username'].errors?.required">Ingrese su usuario</mat-error>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Contraseña</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].errors?.required">Ingrese su contraseña
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <button mat-raised-button color="primary" type="submit"
                [disabled]="!loginForm.enabled">Ingresar</button>
            </p>
            

        </form>
        <p>
            <button mat-stroked-button color="primary" (click)="createAccount()">Crear cuenta</button>
        </p>
        <p>
            <a href="#">Olvidé mi contraseña</a>
        </p>
        <br/>

    </mat-card-content>

</mat-card>