<button mat-fab color="accent" class="bottom-right" (click)="addPatient()">
  <mat-icon>add</mat-icon>
</button>

<mat-card>
  <mat-form-field>
    <input matInput (keyup)="filterField($event.target.value)" placeholder="Buscar" [(ngModel)]="filterValue">
    <button mat-button *ngIf="filterValue!=''" matSuffix mat-icon-button (click)="clear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</mat-card>

<mat-table [dataSource]="patients" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let patient">
      <button mat-icon-button aria-label="Editar" (click)="onSelect(patient)">
        <mat-icon color="primary">assignment</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
    <mat-cell *matCellDef="let patient">
    <span class="mobile-label">Nombres: </span>
    <span [innerHTML]="patient.firstname | highLightSearch: filterValue"></span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <mat-header-cell *matHeaderCellDef> Apellidos </mat-header-cell>
    <mat-cell *matCellDef="let patient" >
    <span class="mobile-label">Apellidos:</span>
    <span [innerHTML]="patient.lastname | highLightSearch: filterValue"></span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> email </mat-header-cell>
    <mat-cell *matCellDef="let patient" >
    <span class="mobile-label">e-mail:</span>
    <span [innerHTML]="patient.email | highLightSearch: filterValue"></span>
    </mat-cell>

  </ng-container>

  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
    <mat-cell *matCellDef="let patient"> 
    <span class="mobile-label">Telefono:</span>
    <span [innerHTML]="patient.phone | highLightSearch: filterValue"></span>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="mobile">
    <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
    <mat-cell *matCellDef="let patient">
      <span class="mobile-label">Celular:</span>
      <span [innerHTML]="patient.mobile | highLightSearch: filterValue"></span>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="accion">
    <mat-header-cell *matHeaderCellDef> 
      Acciones
    </mat-header-cell>
    <mat-cell *matCellDef="let patient">
      <span class="mobile-label">Acciones:</span>
      <button mat-icon-button aria-label="Editar" (click)="editPatient(patient.id)">
        <mat-icon color="primary">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
</mat-paginator>