table { 
    width: 100%;
}

.bottom-right{
    position: fixed !important;
    right: 5%; /* Add this and change value to set the margin you want */
    bottom: 5%
}

.mat-row:hover {
    background-color: rgb(214, 215, 218);
    cursor: pointer;
}