
<button mat-fab color="primary" class="bottom-right" (click)="addPatient()">
    <mat-icon >add</mat-icon>
</button>
  
<mat-card>
  <mat-form-field>
      <input matInput (keyup)="filterField($event.target.value)" placeholder="Buscar" [(ngModel)]="value">
      <button mat-button *ngIf="value" matSuffix mat-icon-button (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
  </mat-card>

<table mat-table [dataSource]="patients" class="mat-elevation-z8">

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef> Nombres </th>
    <td mat-cell *matCellDef="let patient"> {{patient.firstname}} </td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef> Apellidos </th>
    <td mat-cell *matCellDef="let patient"> {{patient.lastname}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let patient"> {{patient.email}} </td>
    
  </ng-container>

   <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
        <td mat-cell *matCellDef="let patient"> {{patient.phone}} </td>
  </ng-container> 
  <ng-container matColumnDef="mobile">
    <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let patient"> {{patient.mobile}} </td>
  </ng-container> 

  <ng-container matColumnDef="accion">
    <th mat-header-cell *matHeaderCellDef> Acciones 
    </th>
    <td mat-cell *matCellDef="let patient">
        <button mat-icon-button aria-label="Editar" (click)="editPatient(patient.id)">
            <mat-icon color="primary">edit</mat-icon>
          </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

</table>