<h1 mat-dialog-title>Nuevo Paciente</h1>

<div class="formulario">

    <div mat-dialog-content [formGroup]="addForm">

        <p>
            <mat-form-field appearance="outline">
                <mat-label>Nombre(s)</mat-label>
                <input matInput formControlName="firstname">
                <mat-error *ngIf="addForm.controls['firstname'].errors?.required">Obligatorio</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Apellido(s)</mat-label>
                <input matInput formControlName="lastname" placeholder="Apellido">
                <mat-error *ngIf="addForm.controls['lastname'].errors?.required">Obligatorio</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput formControlName="phone">
                <mat-error *ngIf="addForm.controls['phone'].errors?.required">Obligatorio</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Celular</mat-label>
                <input matInput formControlName="mobile">
                <mat-error *ngIf="addForm.controls['mobile'].errors?.required">Obligatorio</mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="addForm.controls['email'].errors?.required">Obligatorio</mat-error>
                <mat-error *ngIf="addForm.controls['email'].errors?.email">Formato no válido</mat-error>
            </mat-form-field>

        </p>

    </div>

</div>

<div mat-dialog-actions align="center">

    <button mat-button color="primary" (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="addForm.invalid"
        [mat-dialog-close]="addForm.value">Agregar</button>
</div>